body {
    font-family: 'roboto mono', monospace;
}

h1, p {
    display: inline;
}

h1 {
    margin-left: 55px;
}

.header {
    padding: 25px;
    margin-bottom: 35px;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0.1);
}

.header p {
    color: rgba(0, 0, 0, 0.4);
}

form {
    box-sizing: border-box;
    width: 600px;
    margin: 40px auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 10px;
    justify-content: space-around;
    border-radius: 4px;
}

.formAction {
    display: flex;
    flex-direction: column;
}

input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 4px;
    border-style: groove;
    margin: 3px 0 10px 0;
}

[value="submit"] {
    background-color: rgb(34, 101, 169, 0.9);

}

.socialMedia {
    width: 60%;
    text-align: center;
    margin: auto;
}
.socialMedia h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.mediaLinks a {
    text-decoration: none;
    margin: 40px;
    
}
