html {
    max-width: 576px;
    width: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.5;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    /* font-family: Sofia; */
}

/* .container {
    width: 85%;
    border: 1px solid blue;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.inline-block {
    border: 1px solid red;
    width: 300px;
    height: 200px;
} */

/* .main {
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2),
    30px 0 40px rgba(0, 0, 0, 0.2);
} */

/* Globale ! */

.colorBlue {
    background-color: rgb(34, 101, 169, 0.9);
}

p {
    text-align: justify;
}

a {
    -epub-text-decoration: none;
    text-decoration: none;
}

.dashedBorder {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

header, nav, footer, main, .topHeader, .bottomHeader {
    border-radius: 3px;
}

/* The navigation bar! */

nav#navBar ul {
    padding: 0px;
    margin: 0px;
}

nav#navBar ul li {
    text-align: center;
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

nav#navBar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Top section! */

/* Testing with float first! 
.flex {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
} */

/* section.flex {
    margin: 10px;
}

section.flex div h2, p {
    margin: 0;
}
 
.leftFloat {
    float: left;
    margin-bottom: 10px;
}

.rightFloat {
    float: right;
} 
header {
    clear: both;
}*/

/* section.flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 3.5vw;
} */

section.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    font-size: 3.5vw;
}

section.flex div h2, p {
    margin: 0;
}

.rightFloat {
    margin-top: 10px;
    align-self: flex-end;
    text-align: center;
}

.rightFloat a {
    color: rgba(0, 0, 0, 0.8);
}

.leftFloat a {
    text-decoration: none;
    color: #000;
}

.leftFloat h2 {
    width: 50%;
    border-bottom: 1px solid black;
}

/* Heading content! */

#headerPage {
    background-color: rgb(173, 216, 230);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

/* #headerPage h3 {
    margin: 0;
    padding: 3px;
} */

.topHeader {
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}

.greaterSign {
    display: none;
}

.topHeader a {
    color: rgb(255, 255, 255);
}

.bottomHeader {
    padding: 3px;
    margin-top: 60px;
}

.bottomHeader h3 {
    display: none;
}

.bottomHeader p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottomHeader a {
    position: relative;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 30px;
    left: 70%;
}

.middleHeader {
    text-align: center;
    background-color: rgb(66, 150, 70);
    padding: 1px;
    border-radius: 20px;
    margin: 30px 20px 30px 40px;
    letter-spacing: 2px;
    -webkit-transform: perspective(13cm) rotateX(40deg) rotateY(20deg) rotateZ(-35deg);
    transform: perspective(13cm) rotateX(40deg) rotateY(20deg) rotateZ(-35deg);
}

.middleHeader h1 {
    -webkit-transform: rotateX(43deg) rotateY(20deg) rotateZ(-18deg);
    transform: rotateX(43deg) rotateY(20deg) rotateZ(-18deg);
    font-size: 2.3em;
}

/* The main content! */

/* The three cards on main! */

.sectionDown img {
    display: block;
    margin: auto;
    max-width: 200px;
    height: 160px;
}

.mainCards {
    text-align: center;
    display: block;
    background-color: rgba(205, 210, 211, 0.301);
    padding: 5px 15px;
    margin-top: 15px;
    position: relative;
    border-radius: 3px;
}

.mainCards h3 {
    padding: 2px 0px 10px 0px;
    font-size: 1.5em;
}

.mainCards img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.mainCards a {
    color: rgb(6, 12, 92);
    position: relative;
    margin-right: 5px;
    left: 30%;
}

/* Horizontal line of the page! */

.dashedSection {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

/* Add more content! */

.sectionDown {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.sectionDown>img {
    width: 50%;
    height: auto;
    border: 4px double rgba(0, 0, 0, 0.4);
    align-self: center;
    margin: -10px;
}

.secondMainCard {
    display: none;
    margin-top: 10px;
    background-color: transparent;
}

.rightNavbar h3 {
    text-align: center;
}

.rightNavbar {
    margin: auto;
}

.rightNavbar ul {
    text-align: center;
    padding: 0;
}

.rightNavbar h3 {
    padding: 0;
    color: rgba(0, 0, 0, 0.4);
}

.secondNavbar li {
    list-style-type: square;
    list-style-position: inside;
}

.secondNavbar li a {
    color: rgb(6, 12, 92);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.secondNavbar li a:hover {
    color: rgba(0, 0, 0, 0.1);
}

/* Image gallery section! */

.imgGallery {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
}

.imgGallery img {
    /* width: 174px;
    height: 100px; */
    width: 100%;
    height: 100px;
    margin: 5px 3px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.imgGallery img:nth-child(even) {
    display: none;
}

/* Footer content! */

footer {
    padding: 20px;
    margin-top: 10px;
}

footer p {
    text-align: center;
    padding: 15px;
}

/* Media query for tablet! */

@media (min-width: 576px) and (max-width: 992px) {
    html {
        max-width: 776px;
        margin: auto;
    }
    .section.flex {
        font-size: 3.5vw;
    }
    .middleHeader {
        margin: 25px auto;
        text-align: center;
        max-width: 372px;
    }
    .imgGallery img:nth-child(even) {
        display: unset;
    }
    .secondMainCard {
        display: unset;
        margin-top: 10px;
        background-color: transparent;
    }
    .greaterSign {
        display: unset;
    }
}

/* Media query for pc! */

@media (min-width: 992px) {
    html {
        min-width: 98%;
        margin: auto;
    }
    /* navigation bar! */
    #navBar {
        background-color: transparent;
        /* margin: auto; */
        position: fixed;
        top: 1px;
        width: 97.5%;
        z-index: 100;
    }
    #navBar ul {
        display: flex;
    }
    nav#navBar ul li {
        background-color: rgb(34, 101, 169, 1);
        border: transparent;
        padding: 15px;
        margin: auto;
        flex-grow: 1;
        margin-right: 10px;
    }
    /* Logo and contact details */
    section.flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }
    .leftFloat {
        font-size: 1.7vw;
        display: flex;
    }
    .leftFloat h2 {
        width: 100%;
        border-right: 2px solid black;
        border-bottom: none;
        float: left;
    }
    .leftFloat p {
        align-self: center;
        margin-left: 4px;
    }
    .rightFloat {
        font-size: 15px;
        align-self: center;
    }
    /* Heading content ahead! */
    #headerPage {
        background-color: rgb(173, 216, 230);
        color: rgb(255, 255, 255);
        margin-bottom: 55px;
        height: 450px;
        position: relative;
    }
    /* This is bottom now! */
    .topHeader {
        width: 650px;
        height: 100px;
        border-radius: 3px;
        text-align: center;
        position: absolute;
        bottom: -35px;
        right: 30px;
        font-size: 2.2em;
        letter-spacing: 4px;
        background-color: rgba(34, 101, 169, 1);
    }
    .topHeader h3 {
        padding: 10px;
        margin: 0;
    }
    .topHeader a {
        color: rgb(255, 255, 255);
    }
    /* This is >> link sign */
    .greaterSign {
        display: unset;
    }
    /* This is up now */
    .bottomHeader {
        width: 300px;
        height: 200px;
        position: absolute;
        font-size: 0.8em;
        top: 40px;
        left: 40px;
        border-radius: 3px;
        padding: 8px;
        margin: 0px;
        background-color: rgba(34, 101, 169, 1);
        color: rgb(255, 255, 255);
    }
    .bottomHeader h3 {
        text-align: center;
        padding-bottom: 10px;
        display: block;
    }
    .bottomHeader a {
        display: none;
    }
    .bottomHeader p {
        white-space: unset;        
        overflow: hidden;
    }
    /* This is the funky header! */
    .middleHeader {
        position: absolute;
        top: 110px;
        right: 50px;
        width: 70%;
        font-size: 3.4em;
        margin: 0 auto;
        background-color: rgb(66, 150, 70);
        border-radius: 20px;
        letter-spacing: 7px;
        transform: perspective(27cm) rotateX(35deg) rotateY(22deg) rotateZ(-28deg);
    }
    .middleHeader h1 {
        transform: none;
        padding: 20px;
        margin: 0px;
        font-size: 6.5vw;
    }
    /* The main content of page */
    .containerCards {
        display: flex;
    }
    .mainCards {
        background-color: rgba(205, 210, 211, 0.226);
        border-radius: 3px;
    }
    .mainCards h3 {
        padding: 0px 0px 10px 0px;
        font-size: 1.3em;
    }
    .mainCards img {
        width: unset;
        border-radius: 30px;
    }
    .mainCards a {
        color: rgb(6, 12, 92);
        position: relative;
        margin-right: 5px;
        left: 30%;
    }
    .sectionDown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sectionDown img {
        width: 200px;
        height: 160px;
        border: 4px double rgba(0, 0, 0, 0.4);
    }
    .secondMainCard {
        display: unset;
        background-color: transparent;
        width: 39%;
        position: relative;
        left: -65px;
    }
    .secondNavbar li {
        list-style-type: square;
        list-style-position: outside;
    }
    .imgGallery {
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
    }
    .imgGallery img {
        flex-grow: 1;
        width: 174px;
        height: 100px;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    .imgGallery img:nth-child(even) {
        display: unset;
    }
    .imgGallery img:last-child {
        margin-right: 0px;
    }
    #footerPage p {
        padding: 0px;
        letter-spacing: -1px;
    }
    #footerPage p:first-child {
        text-align: right;
        float: right;
    }
    #footerPage p:last-child {
        text-align: left;
    }
    #footerPage p:nth-child(2) {
        display: none;
        padding: 0px;
    }
}

@media (min-width: 1366px) {
    #headerPage {
        height: 600px;
    }
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* 
-webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers including Firefox for iOS; basically, any WebKit based browser)
-moz- (Firefox)
-o- (old pre-WebKit versions of Opera)
-ms- (Internet Explorer and Microsoft Edge) */