/* a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
} */

/* html {
    display: block;
} */

html {
    max-width: 576px;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.5;
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    /* font-family: Sofia; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* .container {
    width: 85%;
    border: 1px solid blue;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.inline-block {
    border: 1px solid red;
    width: 300px;
    height: 200px;
} */

/* .main {
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2),
    30px 0 40px rgba(0, 0, 0, 0.2);
} */

/* Globale ! */

.colorBlue {
    background-color: rgb(34, 101, 169, 0.9);
}

p {
    text-align: justify;
}

a {
    -epub-text-decoration: none;
    text-decoration: none;
}

.dashedBorder {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

header, nav, footer, main {
    border-radius: 3px;
}

/* The navigation bar! */

nav#navBar ul {
    padding: 0px;
    margin: 0px;
}

nav#navBar ul li {
    text-align: center;
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

nav#navBar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Top section! */

/* Testing with float first! 
.flex {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
} */

/* section.flex {
    margin: 10px;
}

section.flex div h2, p {
    margin: 0;
}
 
.leftFloat {
    float: left;
    margin-bottom: 10px;
}

.rightFloat {
    float: right;
} 
header {
    clear: both;
}*/

/* section.flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 3.5vw;
} */

section.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    font-size: 3.5vw;
}

section.flex div h2, p {
    margin: 0;
}

.rightFloat {
    margin-top: 10px;
    align-self: flex-end;
    text-align: center;
}

.rightFloat a {
    color: rgba(0, 0, 0, 0.8);
}

.leftFloat a {
    text-decoration: none;
    color: #000;
}

.leftFloat h2 {
    width: 50%;
    border-bottom: 1px solid black;
}

/* Heading content! */

#headerPage {
    background-color: rgb(173, 216, 230);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

#headerPage h3 {
    margin: 0;
    padding: 3px;
}

.topHeader {
    border-radius: 0 0 10px 10px;
    padding: 5px;
    text-align: center;
}

.greaterSign {
    display: none;
}

.topHeader a {
    color: rgb(255, 255, 255);
}

.bottomHeader {
    margin-top: 60px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding-bottom: 2px;
    padding: 3px;
}

.bottomHeader p {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.bottomHeader a {
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 30px;
}

.middleHeader {
    text-align: center;
    background-color: rgb(66, 150, 70);
    padding: 1px;
    border-radius: 20px;
    margin: 30px 20px 30px 40px;
    letter-spacing: 2px;
    -webkit-transform: perspective(13cm) rotateX(40deg) rotateY(20deg) rotateZ(-35deg);
    transform: perspective(13cm) rotateX(40deg) rotateY(20deg) rotateZ(-35deg);
}

.middleHeader h1 {
    -webkit-transform: rotateX(43deg) rotateY(20deg) rotateZ(-18deg);
    transform: rotateX(43deg) rotateY(20deg) rotateZ(-18deg);
    font-size: 2.3em;
}

/* The main content! */

/* The three cards on main! */

.mainCards {
    text-align: center;
    display: block;
    background-color: rgba(205, 210, 211, 0.301);
    padding: 5px 15px;
    margin-top: 15px;
    position: relative;
    border-radius: 3px;
}

.mainCards h3 {
    padding: 2px 0px 10px 0px;
    font-size: 1.5em;
}

.mainCards img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.mainCards a {
    color: rgb(6, 12, 92);
    position: relative;
    margin-right: 5px;
    left: 30%;
}

/* Horizontal line of the page! */

.dashedSection {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

/* Add more content! */

.sectionDown {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.sectionDown>img {
    width: 50%;
    height: auto;
    border: 4px double rgba(0, 0, 0, 0.4);
    align-self: center;
    margin: -10px;
}

.secondMainCard {
    display: none;
    margin-top: 10px;
    background-color: transparent;
}

.rightNavbar h3 {
    text-align: center;
}

.rightNavbar {
    margin: auto;
}

.rightNavbar ul {
    padding: 0;
}

.rightNavbar h3 {
    padding: 0;
    color: rgba(0, 0, 0, 0.4);
}

.secondNavbar li {
    list-style-type: square;
    list-style-position: outside;
}

.secondNavbar li a {
    color: rgb(6, 12, 92);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.secondNavbar li a:hover {
    color: rgba(0, 0, 0, 0.1);
}


/* Image gallery section! */
.imgGallery {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;

}

.imgGallery img {
    /* width: 174px;
    height: 100px; */
    width: 100%;
    height: auto;
    margin: 3px;
    border: 5px double rgba(0, 0, 0, 0.4);
}

.imgGallery img:nth-child(even) {
    display: none;
}
 











/* Footer content! */

footer {
    padding: 20px;
}

footer p {
    text-align: center;
    padding: 15px;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* 
-webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers including Firefox for iOS; basically, any WebKit based browser)
-moz- (Firefox)
-o- (old pre-WebKit versions of Opera)
-ms- (Internet Explorer and Microsoft Edge) */