/* a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
} */

/* html {
    display: block;
} */

html {
    max-width: 576px;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.5;
    font-size: 100%;
    /* font-size: 1rem; */
    /* font-family: Sofia; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .container {
    width: 85%;
    border: 1px solid blue;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.inline-block {
    border: 1px solid red;
    width: 300px;
    height: 200px;
} */

/* .main {
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2),
    30px 0 40px rgba(0, 0, 0, 0.2);
} */

/* Globale ! */

.colorBlue {
    background-color: rgb(34, 101, 169, 0.9);
}

p {
    text-align: justify;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration: none;
}

/* The navigation bar! */

nav#navBar ul {
    padding: 0px;
    margin: 0px;
}

nav#navBar ul li {
    text-align: center;
    color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #fff;
}

nav#navBar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Top section! */

/* Testing with float first! 
.flex {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
} */

/* section.flex {
    margin: 10px;
}

section.flex div h2, p {
    margin: 0;
}
 
.leftFloat {
    float: left;
    margin-bottom: 10px;
}

.rightFloat {
    float: right;
} 
header {
    clear: both;
}*/

section.flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 3.5vw;
}

section.flex div h2, p {
    margin: 0;
}

.rightFloat {
    margin-top: 10px;
    align-self: flex-end;
    text-align: center;
}

.leftFloat a {
    text-decoration: none;
    color: #000;
}

.leftFloat h2 {
    width: 50%;
    border-bottom: 1px solid black;
}

/* Heading content! */

#headerPage {
    background-color: rgb(173, 216, 230);
    color: rgb(255, 255, 255);
    margin: 0px;
}

#headerPage h3 {
    margin: 0;
    padding: 3px;
}

.topHeader {
    border-radius: 0 0 10px 10px;
    padding: 5px;
}

.bottomHeader {
    margin-top: 60px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding-bottom: 2px;
    padding: 3px;
}

.bottomHeader p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottomHeader a {
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 30px;
}

.middleHeader {
    text-align: center;
    background-color: rgb(66, 150, 70);
    padding: 1px;
    border-radius: 30px;
    margin: 40px 20px;
    letter-spacing: 6px;
    -webkit-transform: perspective(13cm) rotateX(40deg) rotateY(20deg) rotateZ(-35deg);
}

.middleHeader h1 {
    -webkit-transform: rotateX(43deg) rotateY(20deg) rotateZ(-18deg);
    font-size: 2.5em;
}




















/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */



/* 
-webkit- (Chrome, Safari, newer versions of Opera, almost all iOS browsers including Firefox for iOS; basically, any WebKit based browser)
-moz- (Firefox)
-o- (old pre-WebKit versions of Opera)
-ms- (Internet Explorer and Microsoft Edge) */